<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Your Tasks</h1>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }}
                    <a href="{% url 'todo:delete_task' task.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        <div class="nav">
            <a href="{% url 'todo:add_task' %}">Add New Task</a>
            <a href="{% url 'todo:logout' %}">Logout</a>
        </div>
    </div>
</body>
</html>
